.AtcItems  {
    padding: 16px 24px;
    list-style-position: inside;
    -moz-column-count: 5; /* Firefox */
    -webkit-column-count: 5; /* Safari and Chrome */
    column-count: 5;
    list-style-type: decimal;
    height: 400px;
    overflow-x: scroll;
}

.AtcItems .item {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.AtcItems .item .title {
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    color: #0096F2;
}

.AtcItems .item a {
    text-decoration: none;
    color: #1D2335;
    padding-bottom: 8px;
}

.AtcItems .item_no a{
    font-weight: 600;
    color: #F2291F;
}