$color-light: #ffffff;
$color-primary: #fffcf9;
$color-promo: #ff7f02;
$color-red: #f20004;
$color-orange: #ff7f02;
$color-grey: #767479;  
$color-grey-dark: #625f66;
$color-btn-disable: #e6e6e6;
$color-text-disable: #b2b2b2;
$color-arrow-disable: #a3a3a4;
$color-video: #6e6d6e;
$color-comments: #474649;
$color-footer: #242325;

$content-width: 1110px;







