.header {
  margin-top: 70px;
  height: 80px;
  background: #002B7E;
  opacity: 0.8;
  border-radius: 8px;
  padding-top: 23px;
  padding-bottom: 17px;
  .title {
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: 400;
  }
}
.main {
  background: #fff;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;
  height: 700px;

  &__columns {
    padding: 16px 24px;
    height: 625px;
    column-width: 200px;
    overflow: auto;
  }

  &__items {
    display: grid;
    // align-items: flex-start;

    .item {
      color: #1D2335;
      padding: 4px 12px;
      margin: 0 -8px;
      margin-bottom: 1px;
      width: 244px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 150, 242, 0.1);
        border-radius: 20px;
      }

      &__title {
        padding-top: 16px;
        padding-bottom: 8px;
        font-weight: bold;
        font-size: 12px;
        color: #0096F2;
      }

      &__no {
        font-weight: 600;
        color: #F2291F;
      }
    }
    .item.active {
      background-color: rgba(0, 150, 242, 0.1);
      border-radius: 20px;

      &:before {
        content: "";
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        background-color: #0096F2;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../images/check-path.png');
      }
    }
  }
  &__button {
    background-color: #00C853;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;  
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      margin-left: 13px;
    }
    &:disabled {
      background-color: #D3DBE8;
      cursor: no-drop;
    }
  }
}